* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
div.main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1 {
    font-size: clamp(2rem, 5vw, 2.2rem);
}
h2 {
    font-size: 2rem;
    text-transform: capitalize;
}
header {
    background-color: #252525;
    box-shadow: 0px 3px 8px 1px  rgba(0, 0, 0, 0.288);
    color: #fff;
    padding: 30px 5%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav {
    display: flex;
    align-items: center;
    gap: 5%;
}
input[type="text"] {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    padding: 0 5px;
    width: 10rem;
    border-radius: 4px;
    height: 2rem;
    font-size: 1.1rem;
}
main{
    width: 95%;
    max-width: 1250px;
    margin: 0 auto; 
}
div.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
div.card{
    background-color: #3B4CCA;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    aspect-ratio: 4/5;
    border-radius: 1.3rem;
    box-shadow: -2px 3px 8px 1px  rgba(0, 0, 0, 0.288);
    border: 0.12rem solid black;
    transition: transform 0.1s;   
}
div.card:hover{
    transform: scale(1.02);
}
div.card img {
    width: 100%;
    max-width: 240px;
}
footer {
    padding: 12px 0;
    text-align: center;
    background-color: #252525;
    color: #fff;
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    margin-top: 24px;
}

@media screen and (max-width: 1250px){
    div.container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 950px){
    div.container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px){
    div.container {
        grid-template-columns: 1fr;
    }
}